%h1(align="center") Users
%table(align="center")
  %thead
    %tr
      %th Name
      %th E-mail

  %tbody
    - @users.each do |t|
      %tr
        %td= t.user_name
        %td= t.email
        %td= link_to "Update", t, class: "btn btn-link btn-sm"